@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --100: #E5D6FE;
    --200: #CAADFD;
    --300: #AA84F9;
    --400: #8F64F4;
    --500: #6633ee;
    --600: #4E25CC;
    --700: #3919AB;
    --800: #27108A;
    --900: #1A0972;
}




html {
    scroll-behavior: smooth;
}

@layer components {
    text-gradient {
        @apply bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 inline-block text-transparent bg-clip-text;
    }
}