---
import ProyectItem from '../../../components/home/ProyectItem.astro'
import NavBar from '../../../components/NavBar.astro'
import Wrapper from '../../../components/Wrapper.astro'
import Layout from '../../../layouts/Layout.astro'
import RootLayout from '../../../layouts/RootLayout.astro'
import { PROYECTS } from '../../../lib/proyects'
---

<Layout>
  <RootLayout>
    <NavBar />

    <div
      class="relative rounded-3xl py-36 px-8 overflow-hidden bg-linear-gradient-primary dark:bg-none"
    >
      <div
        class="absolute top-0 left-0 right-0 bg-none dark:bg-gradient-radial-invert-primary h-[400px] z-[-1]"
      >
      </div>
      <Wrapper>
        <h3
          class="text-2xl md:text-5xl font-semibold text-center text-light dark:text-white font-inter md:max-w-[50%] mx-auto max-w-full mb-3"
        >
          Proyectos realizados con pasión y dedicación.
        </h3>
        <p class="dark:text-white/70 font-inter text-black/70 text-center mb-8">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-16">
          {PROYECTS.map(proyect => <ProyectItem {...proyect} />)}
        </div>
      </Wrapper>
    </div>
  </RootLayout>
</Layout>
