---
import Brands from '../components/home/Brands.astro'
import Hero from '../components/home/Hero.astro'
import Proyects from '../components/home/Proyects.astro'
import NavBar from '../components/NavBar.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <NavBar />
  <Hero />
  <Brands />
  <Proyects />
  <div class="h-[200vh]"></div>
</Layout>
