---
import Linkedin from '../../assets/icons/linkedin.astro'
import Download from '../../assets/icons/download.astro'
import Wrapper from '../Wrapper.astro'

const LINKS = [
  {
    name: 'Linkedin',
    href: 'https://www.linkedin.com/in/josepaye/',
    icon: 'linkedin',
  },
  {
    name: 'Descarga CV',
    href: '/cv.pdf',
    icon: 'download',
  },
]
---

<section
  class="h-[calc(100vh-64px-40px)] bg-gradient-radial-primary rounded-3xl overflow-hidden flex items-center"
>
  <Wrapper>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 text-white px-4">
      <div class="[grid-row:2] md:[grid-row:1]">
        <div class="flex flex-col justify-start gap-2 md:gap-4">
          <h3
            class="text-lg md:text-2xl font-medium font-inter md:text-left text-center"
          >
            I'm Jose Paye
          </h3>
          <h1
            class="text-3xl sm:text-4xl md:text-6xl font-bold font-inter md:text-left text-center"
          >
            Web Developer + Student Aspiring to Machine Learning Engineer
          </h1>
          <p
            class="text-white/70 mt-2 text-base md:text-lg md:text-left text-center"
          >
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa
            nesciunt illum possimus ipsum sequi fugiat non est provident impedit
            consectetur?
          </p>
          <div class="flex gap-2 mt-2 md:justify-start justify-center">
            <a
              href={LINKS[0].href}
              class="rounded-full flex items-center gap-2 border border-white/80 text-white font-inter font-medium py-2 px-5"
              target="_blank"
              rel="noopener noreferrer"
            >
              <Linkedin />
              {LINKS[0].name}
            </a>
            <a
              href={LINKS[1].href}
              class="rounded-full flex items-center gap-2 bg-white text-black font-inter font-medium py-2 px-5 hover:opacity-80 transition duration-300"
              target="_blank"
              rel="noopener noreferrer"
            >
              <Download />
              {LINKS[1].name}
            </a>
          </div>
        </div>
      </div>
      <div class="[grid-row:1] md:[grid-row:1]">
        <div class="flex justify-center items-center">
          <img
            src="/assets/images/portada.png"
            class="bg-white h-[300px] md:h-[450px] aspect-square rounded-3xl -rotate-3"
            alt=""
          />
        </div>
      </div>
    </div>
  </Wrapper>
</section>
