---
import Wrapper from '../Wrapper.astro'
import ProyectItem from './ProyectItem.astro'
import { techTags } from '../../types/tag'

const PROYECTS = [
  {
    title: 'SIMBig24 - Ilo',
    desc: 'desc ',
    image: '/assets/images/proyects/1.png',
    logo: '/assets/images/proyects/logo_text-white.svg',
    tecnologies: [
      techTags.astro,
      techTags.express,
      techTags.tailwind,
      techTags.typescript,
    ],
  },
  {
    title: 'Proyecto 1',
    desc: 'desc ',
    image: '',
    logo: '',
    tecnologies: [techTags.preact],
  },
]
---

<div class="relative rounded-3xl py-36 px-8 overflow-hidden">
  <div
    class="absolute top-0 left-0 right-0 bg-gradient-radial-invert-primary h-[400px] z-[-1]"
  >
  </div>
  <Wrapper>
    <h3
      class="text-2xl md:text-5xl font-semibold text-center text-white font-inter md:max-w-[50%] mx-auto max-w-full mb-3"
    >
      Proyectos realizados con pasión y dedicación.
    </h3>
    <p class="text-white/70 font-inter text-center mb-8">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-16">
      {PROYECTS.map(proyect => <ProyectItem {...proyect} />)}
    </div>
  </Wrapper>
</div>
