---
import Wrapper from './Wrapper.astro'
---

<footer class="pt-8 text-white">
  <div>
    <hr class="border-gray-500/50" />
    <div class="my-3">
      <Wrapper>
        <p class="text-sm dark:text-white/70 text-light/70 text-center">
          © 2025 All rights reserved.
        </p>
      </Wrapper>
    </div>
  </div>
</footer>
