---
const IMAGE = '/assets/logos/logo_positive.svg'
const ALT = 'logo jose paye'
---

<div class="text-white flex gap-1 items-center">
  <img src={IMAGE} class="size-6 md:size-8" alt={ALT} />
  <span class="text-inter text-base md:text-lg font-bold">JosePaye</span>
</div>
