---
import Linkedin from '../assets/icons/linkedin.astro'
import Logo from './Logo.astro'
import NavFixed from './NavFixed'
---

<!-- nav fixed --><!-- <NavFixed /> -->
<NavFixed client:load />
<nav class="h-20 px-4 flex items-center">
  <div class="justify-between flex-1 hidden sm:flex">
    <Logo />
    <a
      href="https://www.linkedin.com/in/josepaye/"
      class="bg-button-light dark:bg-none dark:bg-white hover:bg-white/80 rounded-full flex items-center gap-2 text-sm text-white dark:text-black font-inter font-medium py-2 px-5"
    >
      <Linkedin />
      Linkedin
    </a>
  </div>
</nav>
