---
import NavBar from '../../components/NavBar.astro'
import Wrapper from '../../components/Wrapper.astro'
import Layout from '../../layouts/Layout.astro'
import RootLayout from '../../layouts/RootLayout.astro'
---

<Layout>
  <RootLayout>
    <NavBar />
  </RootLayout>
  <Wrapper>
    <h1 class="text-2xl font-medium font-inter text-center">Coming soon..</h1>
  </Wrapper>
</Layout>
