---
import '@fontsource/poppins'
import '@fontsource-variable/inter'
import RootLayout from '../layouts/RootLayout.astro'
import '../styles/base.css'
---

<html>
  <head>
    <title>Jose Paye - Home</title>
    <meta charset="utf-8" />
  </head>
  <body class="bg-black antialiased">
    <RootLayout>
      <slot />
    </RootLayout>
  </body>
</html>
