---
import RootLayout from '../layouts/RootLayout.astro'
import '../styles/base.css'
import SEO from '../components/SEO.astro'
---

<html lang="es">
  <head>
    <title>Jose Paye - Desarrollador Web y Machine Learning</title>
    <meta charset="utf-8" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="shortcut icon"
      href="/assets/logos/logo_positive.svg"
      type="image/x-icon"
    />

    <SEO />
  </head>
  <body class="dark:bg-black bg-white antialiased text-light dark:text-white">
    <slot />
  </body>
</html>
