---
import SEOPost from '../components/SEOPost.astro'
import VerifyDarkMode from '../components/VerifyDarkMode.astro'
import '../styles/base.css'

interface Props {
  shortTitle: string
  description: string
  tags: string[]
}

const { description, shortTitle, tags } = Astro.props
const keywords = tags.join(', ')
---

<html lang="es">
  <head>
    <title>{shortTitle}</title>
    <meta charset="utf-8" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="shortcut icon"
      href="/assets/logos/logo_positive.svg"
      type="image/x-icon"
    />

    <SEOPost title={shortTitle} description={description} keywords={keywords} />
  </head>
  <body class="dark:bg-black bg-white dark:text-white text-black antialiased">
    <slot />
    <VerifyDarkMode />
  </body>
</html>
