---
import '@fontsource/poppins'
import '@fontsource-variable/inter'
import RootLayout from '../components/RootLayout.astro'
---

<html>
  <head>
    <title>Jose Paye - Home</title>
  </head>
  <body>
    <RootLayout>
      <slot />
    </RootLayout>
  </body>
</html>
