<div
  class="prose md:prose-lg dark:prose-invert prose-h1:opacity-85 prose-h2:opacity-85 prose-h3:opacity-85 prose-h4:opacity-85 font-inter w-full h-full max-w-full prose-h1:font-roboto_slab prose-h2:font-roboto_slab prose-h3:font-roboto_slab prose-h4:font-roboto_slab prose-h5:font-roboto_slab prose-h6:font-roboto_slab
  prose-img:rounded-2xl prose-img:my-5 prose-img:object-cover prose-pre:rounded-2xl prose-pre:shadow-lg prose-"
>
  <slot />
</div>
